<header class="d-flex flex-md-row align-items-center justify-content-between p-3 px-4 mb-3 bg-white border-bottoma fixed-top shadow-sm">
  <img src="/assets/images/logo.png" alt="logo" class="logo" style="max-height: 70px;" routerLink="/">
    <nav class="my-2a fs-4">
      <a class="p-2"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
      >Inicio</a>
      <a class="p-2" routerLink="/shop" routerLinkActive="active">Tienda</a>
      <a class="p-2" routerLink="/contact" routerLinkActive="active">Soporte</a>
    </nav>
    <div class="d-flex align-items-center">
      <a class="position-relative">
        <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
        <div class="cart-no">5</div>
      </a>
      <a href="" class="btn btn-outline-secondary me-2">Login</a>
      <a href="" class="btn btn-outline-secondary me-3">Registrarse</a>
    </div>
</header>
